{% block content %}
    <style>
        .internal_table {
            border-collapse: collapse;
            padding: 0;
        }
        .internal_table tr td, .internal_table tr th {
            border: 0;
        }
        td.internal_cell {
            padding: 0;
        }
    </style>


    <table class="table table-sm table-bordered">
        <thead>
        <tr>
                <th>storage system</th>
                <th>curve</th>
                <th>blocks in stripe</th>
                <th>system dimension</th>
                <th>options</th>
                <th>details</th>
            </tr>

        </thead>
        <tbody>
        {% for simulation in sims %}
            <tr>
                <!--STORAGE SYSTEM COLUMN-->
                <td class="internal_cell">
                    <table class="internal_table">
                        <tr><td><input type="checkbox" id="checkboxid_{{ simulation.id }}"> {{ simulation }}</td></tr>
                        <tr><td><a href="{% url 'fairdy:visualize' %}?id={{ simulation.id }}">view sim{{ simulation.id }}</a></td></tr>
                    </table>

                </td>
                <!--THUMBNAIL COLUMN-->
                <td>
                    <img src="data:image/png;base64,{{ simulation.get_thumbnail }}" class="img-fluid p-0">
                </td>
                <!--BLOCKS PER STRIPE-->
                <td class="internal_cell">
                    <table class="internal_table">
                        <tr><td>{{ simulation.k_value }}</td><td><small class="text-muted">data</small></td></tr>
                        <tr><td>{{ simulation.m_value }}</td><td><small class="text-muted">redundancy</small></td></tr>
                        <tr style="border-top: 1px solid gray"><td>{{ simulation.n_value }}</td><td><small class="text-muted">total</small></td></tr>
                    </table>
                </td>
                <!--SYSTEM SIZE COLUMN-->
                <td class="internal_cell">
                    <table class="internal_table">
                        <tr><td>{{ simulation.num_cycles }}</td><td><small class="text-muted">cycles</small></td></tr>
                        <tr style="border-top: 1px solid gray"><td>{{ simulation.num_stripes }}</td><td><small class="text-muted">stripes</small></td></tr>
                        <tr><td>{{ simulation.num_blocks_in_system }}</td><td><small class="text-muted">blocks</small></td></tr>
                        <tr></tr>
                    </table>
                </td>
                <!--OPTIONS COLUMN-->
                <td class="internal_cell">
                    <table class="internal_table">
                        {% if simulation.storage_location_mode is not None %}
                        <tr><th>storage mode</th><td>{{ simulation.storage_location_mode }}</td></tr>
                        {% endif %}
                        {% if simulation.num_storage_locations != simulation.num_blocks_in_system %}
                        <tr><th>storage locations</th><td>{{ simulation.num_storage_locations }}</td></tr>
                        {% endif %}
                        {% if simulation.lazy_heal_threshold != 1 %}
                        <tr><th>lazy heal threshold (horizontal)</th><td>{{ simulation.lazy_heal_threshold }}</td></tr>
                        {% endif %}
                        {% if simulation.pyramidsimulation and simulation.pyramidsimulation.lazy_heal_threshold_ver != 1 %}
                        <tr><th>lazy heal threshold (vertical)</th><td>{{ simulation.pyramidsimulation.lazy_heal_threshold_ver }}</td></tr>
                        {% endif %}
                        {% if simulation.pyramidsimulation %}
                        <tr><th>repair cycles</th><td>{{ simulation.pyramidsimulation.num_repair_cycles }}</td></tr>
                        {% endif %}
                    </table>
                </td>
                <td class="internal_cell">
                    <table class="internal_table">
                        {% with username=simulation.fairdy_user.user.username %}
                        <td><a href="{% url 'fairdy:index' %}?username={{ username }}">{{ username }}</a></td>
                        {% endwith %}
                        <tr><td>{{ simulation.end_time|date:"d-M-Y" }}</td></tr>
                        <tr><td>{{ simulation.view_count }} views</td></tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}