{% extends "base.html" %}
{% block title %}About{% endblock %}

{% block content %}
    <div class="col-12">
        <div>
            <h4>About FaiRDy</h4>
            <p>
                The FaiRDy platform was originally envisioned and developed by Veronica Estrada Galiñanes and coded in the Wolfram Language.
            </p>

            <p>
                FaiRDy-Py and fairdy.ux.uis.no were created by Adam Becker and Lars Kartevoll in Spring 2020
                for their exit project in the Bachelor of Computer Science program at the University of Stavanger, Norway.
                The goal of FaiRDy-Py was to create a Python version of FaiRDy with an accompanying web platform.
                The creator of FaiRDy, Veronica Estrada Galiñanes, advised us on our implementation of the framework in Python.
            </p>
            <p>
                Our project is open source, you can download and customize our code on
                <a href="https://github.com/nextgen-codes/fairdy-py">github.com/nextgen-codes/fairdy-py</a>
            </p>

        </div>
    </div>


{% endblock %}